/*
  =======================
         common css  
  ======================= 
*/

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif,Arial, Helvetica;
    /* background: #000; */
}
a{
    display: inline-block;
    text-decoration: none;
}
.container {
    width: 940px;
    margin: 0 auto;
}
.clr{
    clear: both;
}
/*
  =======================
           
  ======================= 
*/

/* header start */
.header-txt,.logo{
    float: left;
    
}
.header-icon,.item{
    float: right;
    
}

#header{
    height: 32px;
    background: #0872b9;
}
.header-txt p{
    color: #fff;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 32px;
    
}

.header-icon ul li{
    float: left;
    margin-left: 14px;
}
.header-icon ul li a{
    color: #e7e7e7;                      
    line-height: 32px;
    font-size: 14px;
}
.header-icon ul li a:hover{
    color: #353535
}
/* header end */

/* navbar start */
#navbar{
    height: 80px;
    background: #fff;
    position: relative;
}
.logo img{
    position: absolute;



}

.item ul li{
    float: left;
}
.item ul li a {
    font-size: 14px;
    margin-left: 15px;
    line-height: 80px;
    color: #353535;
}
.item ul li a:hover {
    color: #2784c2;
}
/* navbar end */

/*
  =======================
         Banner css  
  ======================= 
*/
/* Banner Start */

#Banner{
    background: url(../img/Banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 40px;
    position: relative;
    z-index: 1;
}
#Banner:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;                                             
    z-index: -1;
}
.banner-txt{
    float: right;
}
.banner-txt h2{
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
    text-align: end;
    width: 460px;
}
.banner-txt h1{
    font-size: 40px;
    margin-bottom: 30px;
    color: #fff;
    text-align: end;
    width: 460px;
}
.banner-txt p{
    font-size: 13px;
    /* font-family: 'Open Sans'; */
    color: #fff;
    text-align: end;
    width: 460px;
}
.banner-btn a{
    float: right;
    /* border: 1px solid #fff; */
    margin-left: 20px;
    margin-top: 30px;
    padding: 10px 20px;
    color: #fff;
    background: #0872b9;
}
.banner-btn a:hover{
    border: 2px solid #fff;
    background: rgba(0, 0, 0, 0.0)
}
/* Banner End */
/*
  =======================
         About css  
  ======================= 
*/
/*
  =======================
         Service css  
  ======================= 
*/
/*
  =======================
         Portfolio css  
  ======================= 
*/
/*
  =======================
         Team css  
  ======================= 
*/
/*
  =======================
         Footer css  
  ======================= 
*/
